  # Supabase - copy dari project Supabase kamu
NEXT_PUBLIC_SUPABASE_URL=https://qfdpicoukzjkhlwqtykk.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFmZHBpY291a3pqa2hsd3F0eWtrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM2ODA5NzEsImV4cCI6MjA5OTI1Njk3MX0.0s47NFL0UhFBPXxU6dpeKcG48rim_U_k5ZrOcGH0VV0

# App
NEXT_PUBLIC_APP_NAME=DaiMart
NEXT_PUBLIC_APP_URL=http://localhost:3000
